div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-right: 12%;
}

.inputText {
  margin: 10px;
  padding: 15px;
  width: 200%;
  border: 3px solid seagreen;
  border-radius: 10px;
}

.inputText::placeholder {
  color: rgb(158, 199, 162);
}

.inputText:focus {
  outline: none;
  border: 2px solid #10c266;
}

.btn {
  margin-left: 60%;
  padding: 10px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: seagreen;
  color: white;
  border: none;
  border-radius: 10px;
}

li {
  font-size: 30px;
  background: #92f7c3;
  margin: 5px 0 0 20px;
}

.ProductTable {
  margin-top: 40px;
  display: block;
  width: 100%;
  margin-left: 45%;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  background-color: #d8fcd9;
  border-right: 2px solid #056e08;
  font-size: 30px;
  border-bottom: 2px solid #056e08;
  padding: 10px;
}

tr {
  font-size: 20px;
  text-align: center;
}

td {
  border-bottom: 1px solid #6c7c6c;
  border-right: 1px solid #6c7c6c;
}

.icons {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.icon-black {
  color: black;
}
